/* BODY AND WIREFRAME STYLEING */

body {
    background-image: url(../images/background.png);
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV BAR STYLEING PHONE */

#nav_bar_phone {
    background-color: #ffffff;
    border-bottom: 1px solid lightgrey;
}

#my_name_phone {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 6px;
}

#my_name_h1_phone {
    font-family: Georgia, Times , serif;
    font-weight: bold;
    font-size: 18px;
}

#flex-container_nav_phone {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page_links_phone {
    color: #777777;
    font-size: 12px;
}

/* NAV BAR STYLEING */

#my_name_other {
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    width: 210px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 25%;
}

#my_name_h1_other {
    font-family: Georgia, Times , serif;
    font-weight: bold;
    font-size: 25px;
}

#nav_bar_link_other {
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
}

.page_links_other {
    color: #777777;
    text-decoration: none;
}

#nav_background_other_1 {
    background-color: #ffffff;
    border-bottom: 1px solid lightgrey;
}

#nav_background_other_2 { 
    background-color: #ffffff;
    border-bottom: 1px solid lightgrey;
}

/* SIDEBAR */

#sidebar {
    border: 2px solid lightgray;
    background-color: #ffffff;
    width: 100%;
    margin-top: 25px;
    height: 150px;
    text-align: center;
}

#connect_with_me_tag {
    font-family: Georgia, Times , serif;
    color: #4aaaa5;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 18px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    margin-bottom: 18px;
}

#footer_margin {
    margin-bottom: 75px;
}

/* FOOTER */

#main_footer {
        background-color: #666666;
        border-top: 5px solid #4aaaa5;
        bottom: -2px;
        width: 100%;
        position: fixed;
        height: 50px;
        margin: auto;
}

#copy_right {
    text-align: center;
    color: lightgrey;
    font-size: 12px;
    margin-top: 15px;
}

/* MAIN */

#main_content_container {
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid lightgray;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

#about_me_tag {
    font-family: Georgia, Times , serif;
    color: #4aaaa5;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    margin-bottom: 25px;
}

#about_me_text {
    font-size: 25px;
    font-weight: bold;
}

#self_pic {
   float: left;
   margin-right: 25px;
}

.main_text {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
}

/* CONTACT STYLEING */

#main_content2 {
    line-height: 1.5;
}

.form_input {
    width: 100%;
}

#message_box {
    height: 200px;
}

/* PORTFOLIO */

#main_content3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pic_container {
    position: relative;
    text-align: center;
    margin: 15px;
}

.text_overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, Times , serif;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 100%;
    height: 50px;
}

.text_overlay_label {
    margin: 7%;
}